<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>cart - E-commerce Website</title>
    <link href="./stylesheets/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/199f67384f.js" crossorigin="anonymous"></script>
</head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <p><a href="/">
                    <img src="images/logo-kalmar.png"width="130px">
                    </p></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Home</a></li>
                        <li><a href="/produkter">Produkter</a></li>
                        <li><a href="/produktInfo">Konfigurere</a></li>
                        <li><a href="/">Kontakt</a></li>
                        <li><a href="/konto">Konto</a></li>
                    </ul>
                </nav>
                <p><a href="/cart">
                    <img src="images/cart.png" width="30px" height="30px">
                    </p></a>
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>
        </div>



       <!-- Cart item details -->

        <div class="small-container cart-page">

            <table>
                <tr>
                    <th>Produkt</th>
                    <th>Antal</th>
                    <th>Total Pris</th>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="images/kingslayer.jpg" width="200px" height="200px">
                            <div>
                                <p>Selvbygget PC</p>
                                <small>Pris: 9999.99kr</small>
                                <br>
                                <a href="">Fjern</a>
                            </div>
                        </div>
                    </td>
                        <td><input type="number" value="1"></td>
                        <td>9999.99kr</td>
                    </tr>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="images/benq.png" width="200px" height="200px">
                            <div>
                                <p>BenQ ZOWIE XL2546K - LED-Skærm 24.5" TN 0,5ms</p>
                                <small>Pris: 3499.99kr</small>
                                <br>
                                <a href="">Fjern</a>
                            </div>
                        </div>
                    </td>
                        <td><input type="number" value="1"></td>
                        <td>3499.99kr</td>
                    </tr>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="images/ducky.png" width="200px" height="200px">
                            <div>
                                <p>Ducky One 2 Mini 2020 classic</p>
                                <small>Pris: 999.00kr</small>
                                <br>
                                <a href="">Fjern</a>
                            </div>
                        </div>
                    </td>
                        <td><input type="number" value="1"></td>
                        <td>999.00kr</td>
                    </tr>
                </tr>
            </table> 
                
            <div class="total-price">
                    <table>
                        <tr>
                            <td>Total</td>
                            <td>14.500kr</td>
                        </tr>
                        <tr>
                            <td>Afgifter</td>
                            <td>150kr</td>
                        </tr>
                        <tr>
                            <td>Sammenlagt Pris</td>
                            <td>14.650kr</td>
                        </tr>
                    </table>
                </div>
            </div>

            <a href="/produktInfo" class="btn2">Betal</a>






   
    <!-- Footer -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our App</h3>
                    <p>Download our App for android and ios mobile phones.</p>
                    <div class="app-logo">
                        <img src="images/play-store.png">
                        <img src="images/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <p><a href="/">
                    <img src="images/logo-kalmar.png">
                    </p></a> 
                    <p>Vores primært mål er at levere high end produkter som
                    du kan nyde i din fritid <br> alene eller sammen ved kammeraterne. </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
     <script>
         var MenuItems = document.getElementById("MenuItems");

         MenuItems.style.maxHeight = "0px";

         function menutoggle(){
             if(MenuItems.style.maxHeight == "0px")
             {
                 MenuItems.style.maxHeight = "200px";
             }
            else {
                MenuItems.style.maxHeight = "0px";
            }
         }
     </script>
</body>
</html>