<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-commerce Website</title>
    <link href="./stylesheets/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconn ect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/199f67384f.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                  <p><a href="/">
                    <img src="images/logo-kalmar.png"width="180px">
                    </p></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Home</a></li>
                        <li><a href="/produkter">Produkter</a></li>
                        <li><a href="/produktinfo">Konfigurere</a></li>
                        <li><a href="">Kontakt</a></li>
                        <li><a href="/account">Konto</a></li>
                    </ul>
                </nav>
                <p><a href="/cart">
                <img src="images/cart.png" width="30px" height="30px">
                </p></a>
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h1>Welcome to the<br>World of gaming!</h1>
                <p>Placeholder tekst Placeholder tekst Placeholder
                    Placeholder tekstPlaceholder<br>tekstPlaceholder tekst
                    Placeholder tekst</p>
                <a href="" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2">
                <img src="images/pngegg-background.png">
            </div>
        </div>
    </div>



<!--Features-->

    <div class="kategorier">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="images/kingslayer.jpg">
                </div>
                <div class="col-3">
                    <img src="images/kingslayer.jpg">
                </div>
                <div class="col-3">
                    <img src="images/kingslayer.jpg">
                </div>
            </div>

        </div>
    </div>
    <div class="small-container">
        <h2 class="title">Fremhævede Produkter</h2>
        <div class="intro">
            <h2>Intro</h2>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="images/kingslayer.jpg">
                <h4>Gaming PC</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <p>4999kr</p>
            </div>
            <div class="col-4">
                <img src="images/kingslayer.jpg">
                <h4>Gaming PC</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <p>4999kr</p>
            </div>
            <div class="col-4">
                <img src="images/kingslayer.jpg">
                <h4>Gaming PC</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <p>4999kr</p>
            </div>
            <div class="col-4">
                <img src="images/kingslayer.jpg">
                <h4>Gaming PC</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <p>4999kr</p>
            </div>
            <div class="intro">
                <h2>Intermediate</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="images/kingslayer.jpg">
                <h4>Gaming PC</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <p>4999kr</p>
            </div>
            <div class="col-4">
                <img src="images/kingslayer.jpg">
                <h4>Gaming PC</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <p>4999kr</p>
            </div>
                <div class="col-4">
                    <img src="images/kingslayer.jpg">
                    <h4>Gaming PC</h4>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                    <p>4999kr</p>
                </div>
            <div class="col-4">
                <img src="images/kingslayer.jpg">
                <h4>Gaming PC</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <p>4999kr</p>
            </div>
            </div>
            <div class="intro">
                <h2>Advanced</h2>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="images/kingslayer.jpg">
                    <h4>Gaming PC</h4>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                    <p>4999kr</p>
                </div>
                <div class="col-4">
                    <img src="images/kingslayer.jpg">
                    <h4>Gaming PC</h4>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                    <p>4999kr</p>
                </div>
                <div class="col-4">
                    <img src="images/kingslayer.jpg">
                    <h4>Gaming PC</h4>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                    <p>4999kr</p>
                </div>
                <div class="col-4">
                    <img src="images/kingslayer.jpg">
                    <h4>Gaming PC</h4>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                    <p>4999kr</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Tilbud -->

    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="images/pngegg.png" alt="pngegg.com">
                </div>
                <div class="col-2">
                    <h1>Konfigurere din helt egen gaming PC</h1>
                    <p>Skrædersy din helt egen og unikke gaming/arbejds PC
                           Efter egne behov og vi vil derefter bygge den for dig
                           med de dele du selv har udvalgt</p>
                <a href="/produktInfo" class="btn1">Konfigurere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="brands">
        <div class="row">
            <div class="col-5">
                <img src="images/logitech.png" alt="">
            </div>
            <div class="col-5">
                <img src="images/razor.png" alt="">
            </div>
            <div class="col-5">
                <img src="images/Steelseries.png" alt="">
            </div>
            <div class="col-5">
                <img src="images/logo-paypal.png" alt="">
            </div>
            <div class="col-5">
                <img src="images/Corsair.png" alt="">
            </div>
        </div>
    </div>

    <!-- Footer -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our App</h3>
                    <p>Download our App for android and ios mobile phones.</p>
                    <div class="app-logo">
                        <img src="images/play-store.png">
                        <img src="images/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <p><a href="/">
                    <img src="images/logo-kalmar.png">
                    </p></a> 
                    <p>Vores primært mål er at levere high end produkter som
                    du kan nyde i din fritid <br> alene eller sammen ved kammeraterne. </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
     <script>
         var MenuItems = document.getElementById("MenuItems");

         MenuItems.style.maxHeight = "0px";

         function menutoggle(){
             if(MenuItems.style.maxHeight == "0px")
             {
                 MenuItems.style.maxHeight = "200px";
             }
            else {
                MenuItems.style.maxHeight = "0px";
            }
         }
     </script>

</body>
</html>